*{
    margin: 0;
    font-family: "Prompt", sans-serif;
}

body{
    background: linear-gradient(to bottom,rgb(252, 181, 48),rgb(250, 184, 61),orange);
    min-height: 100vh;
    filter: saturate(150%);
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    padding: 0%;
    padding-left: 3%;
    margin: 0;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(249, 246, 242);
    margin-bottom: 2%;
    border-bottom: 1px solid gray;
}
.nav_left{
    width: 70%;
    display: flex;
    align-items: center;
    font-size: 12px;
}
.nav_left_img{
    align-content: center;
    margin-right: 2%;
    
}
.nav_left img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.nav_head{
    width: 30%;
    justify-content: end;
    display: flex;
    min-height: 0vh;
    align-items: center;
    margin-right: 3%;
}
.nav_head :hover{
    background: white;
    color: black;
    box-shadow: 0 0 10px rgb(130, 130, 130);
}
.nav_head a{
    text-decoration: none;
    padding: 1%;
    align-content: center;
    margin-left: 3%;
    height: 20px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
    background: linear-gradient(rgb(255, 129, 11),rgb(234, 188, 82));
}

.head_all{
    background-color: white;
    margin: 3%;
    height: 20vh;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    margin-bottom: 1%;
    box-shadow: 0 0 10px rgb(119, 119, 119);
    font-size: 30px;
    margin-top: 0;
}
.dachbord{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
}
.dachbord_txt{
    text-align: center;
    margin: 0%;
}
.dachbord_all{
    display: flex;
    justify-content: space-around;
}
.dachbord_all_d{
    background-color: white;
    width: 25%;
    height: 15vh;
    box-shadow: 0 0 10px rgb(119, 119, 119);
    margin: 1%;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    margin-bottom: 0;

}
.dachbord_all_d h2{
    color: orange;
}

.info{
    margin: 3%;
    display: flex;
    justify-content: space-between;
}

    
.navside_all{
    background-color: white;
    padding: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 15%;
    height: 60vh;
    box-shadow: 0 0 10px rgb(119, 119, 119);
    position: sticky;
    top: 50px;
}
.navside_all_2{
    background-color: white;
    padding: 3%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 13%;
    height: 60vh;
    box-shadow: 0 0 10px rgb(119, 119, 119);
    position: sticky;
    top: 50px;
}

.navside_all :hover{
        border-left: 5px solid orange;
    background-color: antiquewhite;
}
.navside_all a{
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 4px orange;
    margin: 3%;
    align-content: center;
    padding-left: 3%;
    height: 50px;
    color: black;
    
}

.navside_all_one{
    border-left: 5px solid orange;
    background-color: antiquewhite;
}
.info_all{
    box-shadow: 0 0 10px rgb(119, 119, 119);
    width: 79%;
    background-color: white;
    border-radius: 10px;
    min-height: 0vh;
}
input{
    border-radius: 5px;
    outline: none;
    border: 0;
    box-shadow: 0 0 5px gray;
    font-size: 16px;
    font-weight: 500;
    padding-left: 5px;
}



/*----------------------------------------profile---------------------------------*/
.profile{
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
}

.profile_head{
    font-size: 25px;
    margin-top: 2%;
    width: 100%;
    text-align: center;
    align-content: center;
}
.profile_head img{
    width: 150px;
    height: 150px;
    margin-top: 2%;
    border-radius: 50%;
}
.profile_section{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
}
.profile_section input{
    width: 100%;
    height: 40px;
    margin-bottom: 3%;
    margin-top: 1%;
}

.profile_section_1{
    padding-right: 3%;
}
.profile_section_2{
    display: flex;
}
.profile_section_2_1{
    width: 50%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
}
.profile_section_2_2{
    width: 50%;
    padding-right: 3%;
}
.profile_footer{
    width: 100%;
    min-height: 0vh;
}
.profile_footer_1{
    margin-top: 1%;
    padding-left: 3%;
}
.profile_footer_2{
    margin-top: 1%;
    display: flex;
}
.profile_footer_img{
    width: 30%;
    text-align: center;
}
.profile_footer_img img{
    padding-left: 3%;
    width: 100px;
}
.profile_footer_input{
    width: 70%;
    align-content: center;
    padding-right: 3%;
}
.profile_footer_input input{
    width: 100%;
    height: 40px;
    margin-bottom: 3%;
    
}


/*----------------------------------------Proposal_sub---------------------------------*/
.proposal_sub{
    height: auto;
    width: 100%;
}
.proposal_sub h4{
    margin-bottom: 1%;
    border-left: 10px solid orange;
    padding-left: 1%;
}
.proposal_sub_head{
    font-size: 30px;
    text-align: center;
    align-content: center;
    margin-top: 3%;
}
.proposal_sub_section{
    display: flex;
    flex-direction: column;
    padding: 3%;
}
.proposal_sub input,select,button{
    height: 40px;
    margin-top: 1%;
    margin-bottom: 2%;
    padding-left: 2%;
    border-radius: 10px;
}
.proposal_sub_bt{
    background-color: rgb(2, 216, 138);
    border-radius: 10px;
    border: 0;
    color: white;
}
/*----------------------------------------proposal status---------------------------------*/
.proposal_status{
    height: auto;
}
.proposal_status_head{
    text-align: center;
    margin: 3%;
    font-size: 30px;
}
.proposal_status_section{
    display: flex;
    flex-direction: column;
    padding: 3%;
}
.proposal_status_section textarea{
    min-height: 80px;
    width: 98%;
}
.proposal_status_section button{
    width: 100%;
    border: 0;
    background-color: rgb(1, 116, 198);
    color: white;
}

.proposal_status_section h3{
    border-left: 5px solid orange;
    padding-left: 2%;
    margin: 1%;
}
.proposal_status p{
    font-size: 100%;
}
.proposal_status_section_{
    box-shadow: 0 0 10px gray;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 3%;
    margin-top: 1%;
}
.proposal_status_section input[type="text"]{
    margin-bottom: 2%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    height: 35px;
    width: 90%;
}
.proposal_status_section input[type="date"]{
    margin-top: 1%;
    height: 35px;
    width: 98%;
    margin-bottom: 2%;
}
.proposal_status_section_1{
    background-color: rgb(208, 208, 208);
    text-align: center;
    align-content: center;
    height: 35px;
    margin-top: 1%;
    margin-bottom: 1%;
}
.proposal_status_section_2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.proposal_status_section_2_all{
    display: flex;
}
.proposal_status_section_2_left{
    width: 18%;
    align-content: center;
    
}
.proposal_status_section_2_right{
    width: 82%;
    padding-left: 2%;
}

.proposal_status_section_3{
    width: 100%;
    text-align: center;
    align-content: center;
    height: 120px;
    border: 2px dashed gray;
}
.proposal_status_section_3 input[type="file"]{
    display: none;
}
.proposal_status_4{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px gray;
    padding: 2%;
    border-radius: 10px;
}









/*----------------------------------------Progress---------------------------------*/
.progress{
    padding-top: 3%;
}
.progress h4{
    border-left: 10px solid orange;
    padding-left: 1%;
    margin-left: 2%;
}
.progress h5{
    padding-left: 4%;
    margin-bottom: 2%;
    margin-top: 1%;
}
.progress_1{
    height: 30px;
    background-color: rgb(205, 203, 203);
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
}
.progress_2{
    width: 40%;
    background-color: rgb(12, 205, 12);
    height: 30px;
}
.progress_all{
    display: flex;
    flex-wrap: wrap;
}
.progress_all_{
    width: 38%;
    margin: 3%; 
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    padding: 3%;
    display: flex;
    flex-direction: column;
}
.progress_all_ button{
    background-color: rgb(32, 198, 68);
    border: 0;
    color: white;
    margin-top: 1%;
}
.progress_all_1{
    display: flex;
    justify-content: space-between;
}
.progress_all_2{
    background-color: rgb(132, 137, 137);
    margin-right: 5%;
    border-radius: 5px;
    padding: 2%;
    color: white;
}
.finish{
    background-color: rgb(5, 156, 156);
}
.progress textarea{
    min-height: 50px;
    margin-bottom: 2%;
}


/*----------------------------------------exam regis---------------------------------*/
.exam_regis{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.exam_regis_head{
    text-align: center;
    font-size: 30px;
    margin: 3%;
}
.exam_regis h3{
    border-left: 10px solid orange;
    margin-left: 3%;
    margin-top: 3%;
    padding-left: 2%;
}
.exam_regis_section_1{
    display: flex;
    flex-direction: column;
    padding: 3%;
    box-shadow: 0 0 5px gray;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    border-radius: 10px;
}
.exam_regis_section_1 input{
    height: 35px;
    margin-bottom: 2%;
    margin-top: 1%;
}
.exam_regis_section_2{
    display: flex;
    flex-direction: column;
    padding: 3%;
    box-shadow: 0 0 5px gray;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    border-radius: 10px;
}
.exam_regis_section_2 input[type="file"]{
    display: none;
}
.exam_regis_section_2 label{
    text-align: center;
    align-content: center;
    border: 2px dashed gray;
    height: 80px;
}
.exam_regis button{
    margin-left: 3%;
    margin-right: 3%;
    border: 0;
    background-color: rgb(54, 206, 67);
    color: white;
}

/*----------------------------------------results---------------------------------*/
.results{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.results p{
    font-size: 100%;
}
.results h3{
    padding-left: 2%;
    border-left: 10px solid orange;
    margin-left: 3%;
    margin-bottom: 1%;
}

.results_head{
    text-align: center;
    margin: 3%;
    font-size: 30px;
}
.results_section_1{
    box-shadow: 0 0 5px gray;
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%;
    border-radius: 10px;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
}
.results_section_1 input{
    width: 80%;
    height: 35px;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 2%;
}
.results_section_1_1{
    display: flex;
}

.results_section_2{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px gray;
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%;
    border-radius: 10px;
    margin-bottom: 3%;
}
.results_section_2_1{
    text-align: center;
    background-color: rgb(201, 201, 201);
    height: 35px;
    align-content: center;
    margin-top: 1%;
}
.results_section_3{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px gray;
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%;
    border-radius: 10px;
    margin-bottom: 3%;
}
.results_section_3 label{
    text-align: center;
    align-content: center;
    border: 2px dashed gray;
    height: 80px;
    margin-bottom: 1%;
}
.results_section_3 input{
    display: none;
}
.results_section_3 button{
    border: 0;
    background-color: rgb(61, 191, 61);
    color: white;
}

.results input[type="text"]{
    margin-bottom: 2%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    height: 35px;
    width: 90%;
}

/*----------------------------------------consultant 1---------------------------------*/
.page{
    display: none;
}
.page.active{
    display: block;
}
.consultant_home_1{
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: 3%;
    margin-top: 1%;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
}
#consultant_home1 h3{
    border-left: 10px solid orange;
    margin-left: 3%;
    padding-left: 2%;
    margin-top: 3%;
}
.consultant_home_1_1{
    display: flex;
    padding: 3%;
    margin: 3%;
    padding-bottom: 0%;
    margin-top: 0%;
}
.consultant_home_1_1 input{
    height: 35px;
    margin-bottom: 2%;
    margin-top: 1%;
}
.consultant_home_1_1_1 img{
    margin-left: 25%;
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.consultant_home_1_1_1{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-right: 5%;
}
.consultant_home_1_1_1 input{
    text-align: center;
}
.consultant_home_1_1_2{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.consultant_home_1_2{
    display: flex;
    justify-content: space-between;
}
.consultant_home_1_2 button{
    width: 45%;
}


/*----------------------------------------consultant report---------------------------------*/
.consultant1_report1{
    padding: 3%;
    display: flex;
    flex-direction: column;
}
.consultant1_report1 textarea{
    height: 80px;
    margin-bottom: 2%;
    margin-top: 1%;
    
}
.report_bt{
    display: flex;
    justify-content: end;
    
}
.report_bt button{
    text-align: center;
    border: 0;
    background-color: rgb(91, 136, 232);
    color: white;
    padding: 1%;
}
.consultant1_report1 input{
    height: 35px;
    margin-bottom: 3%;
    margin-top: 1%;
}
.report_bt{
    text-align: end;
}
.report_head{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 1%;
}
.report_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.report_1 img{
    width: 30%;
}
.report_1_img{
    box-shadow: 0 0 5px gray;
    padding: 3%;
    margin: 2%;
    margin-bottom: 4%;
    border-radius: 5px;
}
.report_1_2{
    text-align: end;
}
.report_1_2 button{
    width: 80%;
}
.report_1_2 p{
    font-size: 12px;
}
.report_bt_cf{
    background-color: blue;
    color: white;
    border: 0;
}
/*----------------------------------------consultant2 button---------------------------------*/
.consultant2_bt_cf{
    background-color: rgb(44, 205, 92);
    border: 0;
    color: white;
}
.consultant2_bt_cc{
    background-color: rgb(255, 6, 6);
    border: 0;
    color: white;
}
.consultant2_h3{
    border-left: 10px solid orange;
    margin-left: 3%;
    padding-left: 2%;
    margin-top: 3%;

}

/*----------------------------------------consultant progress---------------------------------*/
.consultant1_home2_progress{
    padding: 3%;
    display: flex;
    flex-direction: column;
}
.consultant1_home2_progress input{
    height: 35px;
    margin-top: 1%;
    margin-bottom: 2%;
}
.consultant1_home2_progress textarea{
    height: 50px;
    margin-top: 1%;
    margin-bottom: 2%;
}
.report_bt{
    display: flex;
    justify-content: end;
    
}
.report_bt button{
    text-align: center;
    border: 0;
    background-color: rgb(91, 136, 232);
    color: white;
    padding: 1%;
}
.consultant_progress_head{
    text-align: center;
    font-size: 20px;
}
.consultant_progress_1{
    display: flex;
    box-shadow: 0 0 5px gray;
    padding: 3%;
    margin-top: 1%;
    margin-bottom: 3%;
    border-radius: 10px;
}
.consultant_progress_1_left{
    width: 70%;
}
.consultant_progress_1_left_top{
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    padding-right: 10%;
}
.consultant_progress_1_left_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.consultant_progress_1_left_bottom input{
    width: 90%;
    font-size: 12px;
}

.consultant_progress_1_left_bottom img{
    width: 100px;
    border-radius: 50%;
    margin-right: 3%;
}
.consultant_progress_1_right{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.consultant_progress_1_right p{
    font-size: 12px;
}
.consultant_progress_2{
    box-shadow: 0 0 5px gray;
    padding: 2%;
    margin-bottom: 3%;
    border-radius: 10px;
}
.consultant_progress_2_1{
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    background-color: rgb(217, 217, 217);
    height: 30px;
}
.consultant_progress_2_2{
    width: 10%;
    background: linear-gradient(to right,rgb(7, 220, 89),rgb(86, 195, 86));
    height: 30px;
}
.consultant_progress_3{
    display: flex;
    flex-direction: column;
    padding: 2%;
    box-shadow: 0 0 5px gray;
    margin-bottom: 3%;
    border-radius: 10px;
}
.consultant_progress_3_head{
    display: flex;
    justify-content: space-between;
}
.consultant_progress_3_head button{
    text-align: center;
    padding: 1%;
    align-content: center;
    width: 130px;
    background-color: rgb(93, 228, 45);
    color: white;
    border: 0;
}
.consultant_progress_3_download{
    margin-top: 1%;
    margin-bottom: 2%;
    display: flex;
    height: 50px;
}
.consultant_progress_3_download_1{
    text-decoration: none;
    align-content: center;
    background-color: gray;
    color: white;
    padding-left: 2%;
    padding-right: 2%;


}
.consultant_progress_3_download_2{
    height: 97%;
    width: 100%;
    border: 1px solid black;
}
.consultant_progress_4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.consultant_progress_4_all{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    box-shadow: 0 0 5px gray;
    margin: 2%;
    border-radius: 10px;
}
.consultant_progress_4_all button{
    background-color: blue;
    border: 0;
    color: white;
}
.consultant_progress_4_all_head{
 display: flex;
 justify-content: space-between;
}
.consultant_progress_4_all_head_right{
    background-color: rgb(203, 199, 199);
    color: white;
    text-align: center;
    align-content: center;
    padding: 2%;
    border-radius: 5px;
}
.consultant_progress_4_download{
    margin-top: 1%;
    margin-bottom: 2%;
    display: flex;
}
.consultant_progress_4_download_1{
    text-decoration: none;
    padding: 3%;
    background-color: rgb(165, 165, 165);
    color: white;

}
.consultant_progress_4_download_2{
    height: 98%;
    width: 100%;
    border: 1px solid rgb(197, 197, 197);
}
.per_sub{
    width: 100%;
}
.per_sub select{
    width: 100%;
}

/*----------------------------------------subject 2--------มีหน้ากรรมการรวมอยู่ด้วย-------------------------*/
.subject_1{
    padding: 3%;
}

.subject_1 h3{
    padding-left: 3%;
    border-left: 5px solid orange;
}
.table{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px gray;
    padding: 2%;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 2%;
}
.table input{
    width: 90%;
    margin-top: 2%;
}
.table_1_1{
    height: 50px;
    align-content: end;
    margin-bottom: 2%;
    height: 20px;
}
.table_1_1 h4{
    margin-top: 2%;
}
.table_section{
    display: flex;
}
.table_1_bt{
    height: 29px;
    align-content: center;
    display: flex;
    justify-content: end;
}
.table_1_bt button{
    width: 150px;
    font-size: 10px;
    height: 25px;
    margin-right: 3%;
    margin-bottom: 5%;
    background-color: rgb(57, 57, 233);
    color: white;
    border: 0;
    margin-top: 1%;

}
/*----------------------------------------subject 2-sent--------------------------------*/
.subject_2{
    padding: 3%;
    display: flex;
    flex-direction: column;
    
}
.subject_2 h3{
    border-left: 5px solid orange;
    padding-left: 2%;
    margin-bottom: 1%;
}
.subject_2 input[type="text"]{
    height: 35px;
    margin-bottom: 0.5%;
}

.subject_2 input[type="date"]{
    height: 35px;
    margin-bottom: 2%;
}

.subject_2_all_d_1{
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin-top: 0%;
    margin-bottom: 2%;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}
.subject_2_all_bt{
    display: flex;
    justify-content: space-around;
    
}
.subject_2_all_bt button{
    width: 40%;
    
}
.subject_2_all_bt_l{
    background-color: rgb(47, 10, 195);
    color: white;
    border: 0;
}
.subject_2_all_bt_r{
    background-color: rgb(99, 99, 99);
    color: white;
    border: 0;
}
.subject_2_all_under_bt{
    text-align: end;
    font-size: 9px;
    padding-right: 15%;
}
.subject_2_all_d_2{
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin-top: 0%;
    margin-bottom: 2%;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}
.subject_2_all_d_1 textarea{
    height: 90px;
}
.subject_2_all_d_2 textarea{
    height: 90px;
    margin-bottom: 3%;
}
.subject_2_all_d_2 input[type="radio"]{
    box-shadow: 0 0 0;
}




/*----------------------------------------director--1------------------------------*/

.director {
    padding: 3%;
}

.director_1{
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.director_1 textarea {
    margin-bottom: 2%;
}

.director_1 input {
    margin-top: 1%;
    margin-bottom: 2%;
    height: 35px;
}

.director_1 p {
    font-size: 12px ;
}

.director_ok {
    display:flex ;
    align-items: center;
}

.director_ok p {
    font-size: 13px;
    margin-top: 2%;
    margin-bottom: 2%;

}

.director_ok input {
    box-shadow: 0 0 0 ;
    margin-left: 3%;
    margin-right: 1%

}


/*----------------------------------------director----3------------------------------*/
.director_download{
    margin-top: 1%;
    margin-bottom: 2%;
    display: flex;
    height: 30px;
}
.director_download_1{
    text-decoration: none;
    align-content: center;
    background-color: gray;
    color: white;
    padding-left: 2%;
    padding-right: 2%;


}
.director_download_2{
    height: 97%;
    width: 100%;
    border: 1px solid black;
}









@media (max-width: 1024px) {
*{
    font-size: 100%;
}
.head_all h1{
    font-size: 50px;
}
.head_all{
    height: 16vh;
}
.info{
    margin: 3%;
}
.dachbord_all_d{
    height: 11vh;
}
    
.navside_all{
    background-color: white;
    padding: 3%;
    border-radius: 10px;
    width: 15%;
    box-shadow: 0 0 10px rgb(119, 119, 119);
    top: 50;
}

.navside_all :hover{
        border-left: 5px solid orange;
    background-color: antiquewhite;
}
.navside_all a{
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 2px orange;
    margin: 3%;
    align-content: center;
    padding-left: 3%;
    height: 50px;
    color: black;
    font-size: 13px;
}

.navside_all_one{
    border-left: 5px solid orange;
    background-color: antiquewhite;
}
.info_all{
    box-shadow: 0 0 10px rgb(119, 119, 119);
    width: 78%;
    background-color: white;
    border-radius: 10px;
    min-height: 0vh;
}
input{
    border-radius: 5px;
    outline: none;
    border: 0;
    box-shadow: 0 0 5px gray;
    font-size: 16px;
    font-weight: 500;
    padding-left: 5px;
    width: auto;
}
.consultant_progress_1_left_bottom img{
    width: 70px;
    border-radius: 50%;
    margin-right: 3%;
}
.proposal_status_section_2_left{
    width: 20%;
    align-content: center;
    
}
.proposal_status_section_2_right{
    width: 80%;
    padding-left: 2%;
}
}

@media (max-width: 768px) {
*{
    font-size: 100%;
}
.head_all h1{
    font-size: 45px;
}

.head_all{
    height: 12vh;
}
h4{
    font-size: 12px;
}
.info{
    margin: 3%;
}
    
.navside_all{
    background-color: white;
    padding: 3%;
    border-radius: 10px;
    width: 15%;
    box-shadow: 0 0 10px rgb(119, 119, 119);
    top: 50;
    margin-bottom: 5%;
}

.navside_all :hover{
        border-left: 5px solid orange;
    background-color: antiquewhite;
}
.navside_all a{
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 2px orange;
    margin: 3%;
    align-content: center;
    padding-left: 3%;
    height: 30px;
    color: black;
    width: auto;
    font-size: 10px;
}

.navside_all_one{
    border-left: 5px solid orange;
    background-color: antiquewhite;
}
.info_all{
    box-shadow: 0 0 10px rgb(119, 119, 119);
    width: 75%;
    background-color: white;
    border-radius: 10px;
    min-height: 0vh;
}
input{
    border-radius: 5px;
    outline: none;
    border: 0;
    box-shadow: 0 0 5px gray;
    font-size: 16px;
    font-weight: 500;
    padding-left: 5px;
    width: auto;
}
.dachbord_all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dachbord_all_d{
    background-color: white;
    width: 45%;
    height: 10vh;
    box-shadow: 0 0 10px rgb(119, 119, 119);
    margin: 2%;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    margin-bottom: 0;

}
.consultant_progress_4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.consultant_progress_4_all{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    box-shadow: 0 0 5px gray;
    margin: 2%;
    border-radius: 10px;
}
.proposal_status_section_2_left{
    width: 26%;
    align-content: center;
    
}
.proposal_status_section_2_right{
    width: 74%;
    padding-left: 2%;
}
.table_section{
    display: flex;
    flex-wrap: wrap;
}
.table_1 {
    width: 48%;
    margin-right: 1%;
}
.table_section input{
    width: 96%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.subject_2_all_d_1 button{
    font-size: 10px;
}
.subject_2_all_under_bt{
    text-align: end;
    font-size: 8px;
    padding-right: 0%;
}
.subject_2_all_d_2 input[type="radio"]{
    box-shadow: 0 0 0;
    width: 10px;
    height: 10px;
}
}

@media (max-width: 480px) {
*{
    font-size: 100%;
}
nav{
        z-index: 2000;
}
.head_all{
    height: 10vh;
}
.head_all h1{
    font-size: 30px;
}
.info{
    margin: 3%;
    display: flex;
    flex-direction: column;
}

    
.navside_all{
    background-color: white;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    width: auto;
    box-shadow: 0 0 10px rgb(119, 119, 119);
    position: relative;
    top: 0;
    margin-bottom: 3%;
    height: 19vh;
}
.navside_all_2{
    background-color: white;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    width: auto;
    box-shadow: 0 0 10px rgb(119, 119, 119);
    position: relative;
    top: 0;
    margin-bottom: 3%;
    height: 10vh;
}

.navside_all :hover{
        border-left: 0px solid orange;
    background-color: antiquewhite;
    border-bottom: 5px solid orange;
}
.navside_all a{
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 2px orange;
    margin: 3%;
    align-content: center;
    padding-left: 0%;
    height: 50px;
    color: black;
    width: 23%;
    text-align: center;
    justify-content: center;
}

.navside_all_one{
    border-left: 0px solid orange;
    border-bottom: 5px solid orange;
    background-color: antiquewhite;
}

.info_all{
    box-shadow: 0 0 10px rgb(119, 119, 119);
    width: auto;
    background-color: white;
    border-radius: 10px;
    min-height: 0vh;
}
input{
    border-radius: 5px;
    outline: none;
    border: 0;
    box-shadow: 0 0 5px gray;
    font-size: 16px;
    font-weight: 500;
    padding-left: 5px;
    height: 30px;
}
.dachbord_all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.dachbord_all_d{
    background-color: white;
    width: 45%;
    height: 7vh;
    box-shadow: 0 0 10px rgb(119, 119, 119);
    margin: 2%;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    margin-bottom: 0;

}

.progress_all{
    display: grid; 
}
.results p{
    font-size: 11px;
}
.proposal_status p{
    font-size: 11px;
}
.progress_all_{
    margin: 2%; 
    width: 92%;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    flex-direction: column;
}
.consultant_progress_4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.consultant_progress_4_all{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    box-shadow: 0 0 5px gray;
    margin: 2%;
    border-radius: 10px;
}
.report_1{
    display: flex;
    flex-wrap: wrap;
}
.report_1_2{
    width: 40%;
}
.report_1_1 {
    width: 60%;
}
.report_1_1 input{
    width: 60%;
}
input{
    font-size: 10px;
}
.consultant_progress_1_left_bottom{
    display: flex;
    flex-direction: column;
}
.proposal_status_section_2_left{
    width: 25%;
    align-content: center;
    
}
.proposal_status_section_2_right{
    width: 75%;
    padding-left: 2%;
}
.table_section{
    display: flex;
    flex-direction: column;
}
.table_1{
    width: 100%;
    margin-bottom: 3%;
}
.table_section input{
    width: 96%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.subject_2_all_d_1 button{
    font-size: 10px;
}
.subject_2_all_under_bt{
    text-align: end;
    font-size: 8px;
    padding-right: 0%;
}
.subject_2_all_d_2 input[type="radio"]{
    box-shadow: 0 0 0;
    width: 10px;
    height: 10px;
}
.proposal_status_section textarea{
    width: 95%;
}
}
